<div class="signup">
  <div class="signup-inner">
    <div class="container">
      <div class="signup-wrapper">
        <div class="signup-title">
          Sign Up
        </div>
        <div class="signup-form">
          <%= form_for(@user, url: signup_path) do |f| %>
          <%= render "shared/error_message" %>

          <%= f.text_field :name, :placeholder=>"Name" %><br>

          <%= f.text_field :email, :placeholder=>"Email" %><br>

          <%= f.text_field :password, :placeholder=>"Password" %><br>

          <%= f.text_field :password_confirmation, :placeholder=>"Confirmation" %><br>

          <%= f.submit "Create my account", class:"signup-submit", :value=>"Submit" %><br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
